@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400&display=swap');

/* Anna added */
:root {
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    --main-color:rgb(90, 55, 51);
    --hover-color: #eb6d2f;
}

body{
max-width:100% ;
margin: auto;
}

header .logo img{
  width:192px;
  height: auto;
}

h1 {
  min-width: 320px;  
}
.burger-icon {
  font-size: 3.5rem;
}

#burger-checkbox {
  display: none;
}
header .menu {
  padding: 0 5px;
  display: none;
}

input:checked ~ .menu {
  display: block;  
} 
@media (min-width: 500px) {

  .burger-icon {
      display: none;}
} 

header .menu a {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 3px;
}

header .menu a:hover{
  color: var(--hover-color);
  
}
.maintitle {
  font-size: 100px;
  color: var(--main-color);
  text-transform: uppercase;
}
header div .button{
  background-color: var(--hover-color);
  color: white; 
  text-decoration: none;
  font-weight: bold;
  padding: 15px 25px;
  border-radius:10px;
  
}
header div .button:hover {
  background-color: rgb(248, 187, 20);
  color: white;
}

@media (min-width: 320px) {
  header .top-nav{
    display: flex;
    align-items: center;
    
  }
  header nav .menu {
    display: flex;
    flex: 1; 
    align-items: center;   
    justify-content: space-around;}
}
/* Anna end */

.video{
  width: 560px;
  height: 315px;
  border: 0px;
}

/* Yulia start */
/* Section: 'How to order' */

.order1{
  margin-top: 10em;
}

.order-text {
  text-align: center;
  color: rgb(90, 55, 51);
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-around
}

.order-subtitle {
  text-align: center;
  color: rgb(90, 55, 51);
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-around
}
.order2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  flex-direction: column;
}

.bee-with-flower {
  width: 344px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bees-with-a-bowl-of-honey {
  width: 344px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bee-with-a-bowl-of-honey {
  width: 344px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



@media (min-width: 650px) {
  .order2 {
    flex-direction: row;
  }
}

.btn {
  background-color: #eb6d2f;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.order-button {
  text-align: center;
}

.request {
  border-color:#eb6d2f;
  color: white;
}

.request:hover {
  background-color: rgb(90, 55, 51);
  color: white;
}

/* Section: 'FAQ' */

.faq-section {
  margin-top: 10em;
  background: #F9F4F0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.faq-img {
  width: 600px;
}
.faq-h2{
  color: #eb6d2f;
  font-size: 20px;
  margin-bottom: 20px;
}

.faq-p1{
  color: rgb(90, 55, 51);
  font-size: 50px;
  font-weight: bold;
}

.faq-p2{
  color: rgb(90, 55, 51);
  font-size: 18px;
  font-weight: bold;
}

.accordion {
  background-color: #F9F4F0;
  color: #552c2c;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 19px;
  transition: 0.7s;
}

.panel {
  padding: 0 18px;
  background-color: #F9F4F0;
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: rgb(153, 86, 86);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

/* Section: 'Contact us' */

.contacts-form {
  width: 450px;
  height: 500px;
  background-color: white;
  text-align: center;
}

input[type="text"], input[type="tel"], input[type="email"] {
  width: 300px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 4px;
  padding-left: 10px;
  background-color:#F9F4F0;
}

.quote-message{
  background-color:#F9F4F0;
}
.quote-submit {
  padding: 13px 30px;
  margin: 5px 0 20px 0;
  font-size: 15px;
  color: white;
  background-color: #eb6d2f;
  border: none;
  cursor: pointer;
}

.quote-submit:hover {
  background-color: rgb(248, 187, 20);
  color: white;
}

/* Section: 'Gallery' */

.gallery {
  background-color: #F9F4F0;
}

.gallery-img {
  margin-right: 20px; 
  margin-left: 20px;
  margin-bottom: 20px; 
  width: 370px;
  height: 370px;

}

.gallery-img1 {
  margin-right: 20px; 
  margin-left: 35px;
  margin-bottom: 20px; 
  width: 370px;
  height: 370px;
}

/* Yulia end */

/*Maksym added*/

@media (min-width: 767px) {
  .statistics-flex{
    display: flex; 
    justify-content: space-between;
    justify-content: space-around;
  }
  .statistics-element-one{
      flex-direction: column;
      align-self: flex-start;
      flex-wrap: nowrap;
      order: 1;
  }
  .statistics-element-two{
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: nowrap;
    order: 2;
  }
  .statistics-element-three{
    flex-direction: column-reverse;
    align-self: flex-end;
    flex-wrap: wrap;
    order: 1;
  }
   .statistics-element-four{
   flex-direction: column-reverse;
   align-self: flex-end;
   flex-wrap: wrap;
   order: 2;
  }
}

@media (min-width: 991px) {
  .statistics-element-one{
      flex-direction: row;
      align-self: flex-start;
      flex-wrap: nowrap;
      order: 1;
  }
  .statistics-element-two{
    flex-direction: row;
    align-self: flex-start;
    flex-wrap: nowrap;
    order: 2;
  }
  .statistics-element-three{
    flex-direction: row;
    align-self: flex-start;
    flex-wrap: nowrap;
    order: 3;
  }
   .statistics-element-four{
   flex-direction: row;
   align-self: flex-start;
   flex-wrap: nowrap;
   order: 4;
  }
}

.statistics-flex{
    background-color:#F9F4F0 ;  
}

.statistics-header{
    color: #eb6d2f;
    font-size: 50px;
    font-weight: bold;
}

.statistics-paragraph{
  color: #552c2c;
  font-size: 16px;
  font-weight: bold;
}

.testimonials-container{
  background-image: url(https://raw.githubusercontent.com/koldovsky/610-team-1/gh-pages/img/testimonials-people/testimonials-background.jpg);
  background-size: cover;
  margin-top: 1em;
  padding-bottom: 7em;
  margin-bottom: 10em;
}

.testimonials-text{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-around;
  margin-bottom: 3em;
}

.testimonials-h2{
  color: #F7BD00;
  font-size: 14px;
  font-weight: bold;
  margin-top: 6em;
}

.testimonials-h3{
  color: #FFFFFF;
  font-size: 50px;
}

.testimonials-paragraph{
  font-size: 16px;
  color: #FFFFFF
}

.testimonials-elements{
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  flex-direction: column;
}

.testimonial-person-h{
  color: #F7BD00;
  font-size: 25px;
  font-weight: bold;
  padding: 5%;
  margin-bottom: -5em;
  text-align: center;
}

.testimonial-person-p{
  color: #FFF;
  font-size: 16px;
  padding: 5%;
  text-align: center;
  margin-bottom: -5em;
}

.testimonial-person-p-2{
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  padding: 5%;
  text-align: center;
}

.testimonials-image{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

@media (min-width: 767px){
  .testimonials-elements{
    flex-direction: row;
  }
}

.person-one{
  background-color: #663B36;
  margin: 10px 30px 10px 30px;
}

.person-two{
  background-color: #663B36;
  margin: 10px 30px 10px 30px;
}

.person-three{
  background-color: #663B36;
  margin: 10px 30px 10px 30px;
}

.sale-container{
  background-color: #F9F4F0;
}

.sale-text{
  text-align: center;
}

.sale-h{
  color: #552c2c;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.sale-p{
  color: #ABB2B9;
  font-size: 18px;
  text-align: center;
}

.sale-number{
  color: #552c2c;
  font-size: 50px;
  text-align: center;
}

.sale-word{
  color: #552c2c;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.sale-numbers{
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  flex-direction: row;
}