.h-title-types {
    font-size: 14px;
    color: var(--hover-color);
}
.subtitle-types{
    font-size: 50px;
    color: var(--main-color);
    width: 100%;
    text-align: left;
}
.store-honey {
    background-color:#F9F4F0 ; 
}
.types {
    background-color:#F9F4F0 ; 
}
img{
    width: 100px;
    height: auto;
  }
/* check block*/

section .check{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
section div .check-icon {
    height: 25px;
    width: auto;
    padding-left: 10px;
    padding-right: 5px;
}
/* carusel block types*/
.carousel-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: column;
}

.img-carousel-one {
min-width: 344px;

}
section div .slide-honey{
    display: flex; 
    flex-direction: column;  
    align-items: center;
    background-color:white;  
    margin-left: 10px;
    margin-right: auto; 
    }

@media (min-width: 650px){
    .carousel-one {
        flex-direction: row; }
}
/* carusel shop*/
.carousel-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: column;
}

.img-carousel-two {
min-width: 344px;

}
section div .slide-shop{
    display: flex; 
    flex-direction: column;  
    align-items: center;
    margin-left: 10px;
    margin-right: auto; 
}

@media (min-width: 650px){
    .img-carousel-two {
        flex-direction: row; }
}

 