.h-title-types {
    font-size: 17px;
    color: var(--hover-color);
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
}
.subtitle-types{
    font-size: 40px;
    color: var(--main-color);
    width: 100%;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
}

.subtitle{
    font-size: 40px;
    color: var(--main-color);
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.store-honey {
    background-color:#F9F4F0 ;

}
.types {
    background-color:#F9F4F0 ; 
}
img{
    width: 100px;
    height: auto;
}

section div div .button-outline-button{
    background-color: var(--hover-color);
    color: white; 
    text-decoration: none;
    font-weight: bold;
    padding: 15px 25px;
    border-radius:10px;
}
section div div .button-outline-button:hover {
    background-color: rgb(248, 187, 20);
    color: white;
}
/* check block*/

section .check{
    display: flex;
    align-items: center;
    justify-content: center;
}
section div .check-icon {
    height: 25px;
    width: auto;
    padding-left: 10px;
    padding-right: 5px;
}
/* carusel block types*/
.block-check{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: column;  
}

.carousel-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: column;
}

.img-carousel-one {
min-width: 200px;

}
section div .slide-honey{
    display: flex; 
    flex-direction: column;  
    align-items: center;
    background-color:white;  
    margin-left:15px;
    margin-right: auto; 
    }

@media (min-width: 650px){
    .carousel-one {
        flex-direction: row; }
}
/* carusel shop*/
.carousel-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: column;
}

.subtitle-types-bar {
    text-align: center;
    color: var(--main-color);
    font-size: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around
  }
.img-carousel-two {
min-width: 200px;

}
section div .slide-shop{
    display: flex; 
    flex-direction: column;  
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
}

@media (min-width: 650px){
    .carousel-two {
        flex-direction: row; }
}

 